.maenderung {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.maenderung div {
    margin: 20px;
}
.maenderung {
    padding: 10px;
    margin: 20px;
    min-width: 300px;
    border: 2px solid rgb(66, 71, 66);
    border-radius: 10px 10px 10px 10px;
}
