body {
  background-color: #16194a;
  color: white;
  justify-content: center;
}
#tablet {
  width: 1200px;
  height: 600px;
  background-color: white;
  color: black;
  border: 8px solid black;
  border-radius: 10px 10px 10px 10px;
  margin-left: 200px;
  margin-top: 100px;
}